.container,
.mainWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainWrapper {
  width: $detail-layout-mainWrapper-width-default;
  @include d-flex(column, inherit, inherit);
    // RESPONSIVE HUETA ============================
    @include respond(big-desktop) {
      //width < 1800?
      width: $detail-layout-mainWrapper-width-big;
    }
  
    @include respond(tab-land) {
      //width < 1200?
      width: $detail-layout-mainWrapper-width-tab_land;
    }
  
    @include respond(tab-port) {
      //width < 900?
      width: $detail-layout-mainWrapper-width-tab_port;
    }
  
    @include respond(phone) {
      //width < 600?
      width: $detail-layout-mainWrapper-width-phone;
    }
    // END RESPONSIVE HUETA ============================
}

.footer {
  margin-top: auto;
  width: $detail-layout-footer-width;

  &__content {
    width: $detail-layout-mainWrapper-width-default;
    margin: 0 auto;
    padding: 2.5rem 0;
    @include d-flex(row, space-between, inherit);

    @include respond(big-desktop) {
      //width < 1800?
      width: $detail-layout-mainWrapper-width-big;
    }
  
    @include respond(tab-land) {
      //width < 1200?
      width: $detail-layout-mainWrapper-width-tab_land;
    }
  
    @include respond(tab-port) {
      //width < 900?
      width: $detail-layout-mainWrapper-width-tab_port;
    }
  
    @include respond(phone) {
      //width < 600?
      width: $detail-layout-mainWrapper-width-phone;
    }
  }

  @include respond(phone) {
    //width < 600?
    & > &__content > &__position {
      display: none;
    }
  }
}
