@import "../fonts/fonts";

//======================== PRIMARY COLORS ===========================
$primary-color-violet: #5964e0;
$primary-color-light-violet: #939bf4;
$primary-color-dark-blue: #19202d;
$primary-color-midnight: #121721;

//==================== SECONDARY COLORS =========================

$secondary-color-white: #ffffff;
$secondary-color-light-gray: #f4f6f8;
$secondary-color-gray: #9daec2;
$secondary-color-dark-gray: #6e8098;

//=================== FONT SIZE ===============================

$font-size-h1: 2.8rem;
$font-size-h2: 2.4rem;
$font-size-h3: 2rem;
$font-size-h4: 1.4rem;
$font-size-p: 1.6rem;
$font-size-btn: 1.6rem;
$font-size-search: 1.6rem;
$font-size-checkboxLabel: 1.6rem;
$font-size-location-label: 1.4rem;

//====================== LINE HEIGHT ===========================

$line-height-h1: 3.4rem;
$line-height-h2: 2.9rem;
$line-height-h3: 2.4rem;
$line-height-h4: 1.8rem;
$line-height-p: 2.6rem;
$line-height-btn: 2rem;
$line-height-search: 2rem;
$line-height-checkboxLabel: 2rem;
$line-height-location-label: 1.7rem;

//================= FONT FAMILY ==========================

$font-family-regular: "Kumbh-Sans-regular";
$font-family-bold: "Kumbh-Sans-bold";





//=================== SCREEN SIZE ==========================


// ------------------HEADER-----------------------

$header-width-default: 120rem;
$header-width-big: 120rem;
$header-width-tab_land: 78rem;
$header-width-tab_port: 68.9rem;
$header-width-phone: 80%;

// ------------------FOOTER-----------------------

$detail-layout-footer-width: 100%;

// ------------ Main Layout --------------

// normal size (1200-1800)
$main-layout-mainWrapper-width-default: 120rem;

// big desktop (> 1800)
$main-layout-mainWrapper-width-big: 120rem; 

// tab land (< 1200)
$main-layout-mainWrapper-width-tab_land: 78rem;

// tab portrait (< 900) 
$main-layout-mainWrapper-width-tab_port: 68.9rem;

// phone (< 600) 
$main-layout-mainWrapper-width-phone: 80%;


// ----------------Detail Layout-------------

// normal size (1200-1800)
$detail-layout-mainWrapper-width-default: 115rem;

// big desktop (> 1800)
$detail-layout-mainWrapper-width-big: 120rem; 

// tab land (< 1200)
$detail-layout-mainWrapper-width-tab_land: 75%;

// tab portrait (< 900) 
$detail-layout-mainWrapper-width-tab_port: 90%;

// phone (< 600) 
$detail-layout-mainWrapper-width-phone: 90%;


