.container {
  padding: 0 0 10rem 0;
}

.mainWrapper {
  position: relative;
  width: $main-layout-mainWrapper-width-default;
  margin: 14.4rem auto 0 auto;

  // RESPONSIVE HUETA ============================
  @include respond(big-desktop) {
    //width < 1800?
    width: $main-layout-mainWrapper-width-big;
  }

  @include respond(tab-land) {
    //width < 1200?
    width: $main-layout-mainWrapper-width-tab_land;
  }

  @include respond(tab-port) {
    //width < 900?
    width: $main-layout-mainWrapper-width-tab_port;
  }

  @include respond(phone) {
    //width < 600?
    width: $main-layout-mainWrapper-width-phone;
  }
  // END RESPONSIVE HUETA ============================
}
