.switchButton {
  width: 4.8rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: $secondary-color-white;
  position: relative;

  &__toggle {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: $primary-color-violet;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-light-violet;
    }
  }
}

.active {
  left: 60%;
}

.sunIcon,
.moonIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sunIcon {
  left: -50%;
}
.moonIcon {
  right: -40%;
}
