.cardsContainer {
  @include d-flex(row, inherit, inherit);
  flex-wrap: wrap;

  & > :not(:nth-child(3n)) {
    margin-right: 2.8rem;
  }

  // RESPONSIVE HUETA ============================
  @include respond(big-desktop) {
    //width < 1800?
    & > :not(:nth-child(3n)) {
      margin-right: 2.8rem;
    }
  }
  @include respond(tab-land) {
    //width < 1200?
    & > :not(:nth-child(3n)) {
      margin-right: 0;
    }
    justify-content: space-between;
  }
  @include respond(tab-port) {
    //width < 900?
    & > :not(:nth-child(3n)) {
      margin-right: 0;
    }
    justify-content: space-between;
  }
  @include respond(tab-port) {
    //width < 900?
    & > :nth-child(n) {
      margin-right: 0;
    }
  }
  // END RESPONSIVE HUETA ============================

  & > div {
    margin-bottom: 6.5rem;
  }
}

.loaderBtn {
  text-align: center;
}
