.searchWrapper {
  position: relative;
}

.searchForm {
  width: 100%;
  height: 100%;
  border: none;
  font-family: $font-family-regular;
  font-size: $font-size-search;
  line-height: $line-height-search;
  padding: 3.1rem 5rem 3.3rem 6.1rem;
  &:focus {
    outline: none;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}
