.searchWrapper {
  position: absolute;
  left: 50%;
  top: -14.4rem;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 0.6rem;
  @include d-flex(row, inherit, center);
  overflow: hidden;

  // RESPONSIVE HUETA ============================
  @include respond(phone) {
    width: 32.7rem;
    height: 8rem;
  }
  // END RESPONSIVE HUETA ============================
}

.filterByTitle,
.filterByLocation {
  border-right: 1px solid #6e80983f;
}

.filterByTitle {
  width: 46.3rem;

  @include respond(tab-land) {
    width: 22.2rem;
  }
}

.filterByLocation {
  width: 30rem;

  // RESPONSIVE HUETA ============================
  @include respond(tab-land) {
    width: 21.3rem;
  }

  @include respond(phone) {
    display: none;
  }
  //END RESPONSIVE HUETA ============================
}

.searchButton {
  @include d-flex(row, space-around, center);
  flex-grow: 1;

  // RESPONSIVE HUETA ============================
  @include respond(phone) {
    display: none;
  }
  //END RESPONSIVE HUETA ============================
}
