.header {
  background-image: url("/assets/desktop/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 16rem;
  position: relative;
  border-radius: 0px 0px 0px 10rem;
  overflow: hidden;

  @include respond(phone) {
    background-image: url("/assets/desktop/bg-pattern-detail-footer.svg");
    border-radius: 0px;
    overflow: visible;
  }
}

.logoBox {
  width: $main-layout-header-width-default;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 35%;
  @include d-flex(row, space-between, inherit);

  // RESPONSIVE HUETA ============================
  @include respond(big-desktop) {
    //width < 1800?
    width: $main-layout-header-width-big;
  }

  @include respond(tab-land) {
    //width < 1200?
    width: $main-layout-header-width-tab_land;
  }

  @include respond(tab-port) {
    //width < 900?
    width: $main-layout-header-width-tab_port;
  }

  @include respond(phone) {
    //width < 600?
    width: $main-layout-header-width-phone;
  }
  // END RESPONSIVE HUETA ============================
}

.switchWrap {
  transform: translateX(-45%);
}
