@font-face {
    font-family: "Kumbh-Sans-regular";
    src: url('./KumbhSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Kumbh-Sans-bold";
    src: url('./KumbhSans-Bold.ttf') format('truetype');
}